# database

# data related to database content
uploads/
# image visualization output
visualized/
/received_data
/ReflectanceDataS2T2
/sed.ipynb
example/HSI_inspect/season2_trip2.ipynb
example/Plotting points/convertCoordinate.py

*.pyc

#venv 
venv

__pycache__/

instance/
